@font-face {
    font-family: 'Digital';
    src: url('../../assets/fonts/DJB-Get-Digital.ttf') format('truetype');
}

body {
    font-size: 10px;
    color: #836767;
    background-color: #352f2f;
}

.hidden {
    font-size: 0;
}

.bough {
    font-family: 'Bough';
}

.digital {
    font-family: 'Digital';
}

body div.container {
    text-align: center;
}

body div.container h1 {
    font-family: 'Bough';
    padding: 0;
    font-size: 50px;
}

body div.container div#game {
    display: block;
    margin-left: auto;
    margin-right:auto;
}


body div.container div#game canvas {
    border: 3px solid #836767;
}

header {
    margin-bottom:.25em;
    font-size:24pt;
    text-shadow: 2px 2px black;
    font-family: 'Potta One', sans-serif;
}
.byline {
    margin-bottom: .5em;
    font-size:18pt;
    font-family: sans-serif;
}